/*RESET*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CODIGOS GENERALES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 400px;
    background-image: url(https://img.freepik.com/fotos-premium/vista-fondo-textura-agua-mar-hermosa-natural-arriba-hd_964851-70923.jpg?w=996);
    fill-opacity: (50%);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/* CODIGO DE INDEX*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20px;

}

header img {
    width: 150px;
    height: 150px;
    gap: 10px;
}


header nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

header h1 {
    text-transform: uppercase;
}

h1 {
    font-size: 45px;
    color: black;
    text-align: center;
    margin: 20px;
}

h1 p {
    font-size: 20px;
}

header nav ul li {
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    width: 150px;
    height: 150px;
    gap: 10px;

}

.banner {
    height: calc(100vh - 100px);
    position: relative;
}

main h2 {
    font-size: 45px;
    color: black;
    background-size: cover;
    background-position: center center;
    text-align: center;
    margin: 20px;
}

section {

    margin-top: 30px;
}

section.objetivos {
    display: flex;
    margin-top: 30px;
    padding: 20px;

}

section.objetivos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

section.objetivos h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgb(75, 176, 201), rgb(198, 238, 238));
}


section div p {
    text-align: center;
    justify-content: center;
    align-items: center;
}

section {
    margin: 30px;

}

div.row {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-left: 20px;

}

div.texto {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 20px;
    display: inline-block;
    font-size: medium;
    flex-wrap: wrap;
    margin-right: 70px;
    margin-left: 20px;

}

div.texto h3 {
    height: 15px;
    margin-top: 10px;
}

div.texto p span {
    font-size: medium;
    height: 70px;

}

div.video {
    display: flex;
    position: relative;
    margin: 30px;

}


div.boton {
    padding: 40px;
    margin-right: 100px;
    margin-left: 100px;
    color: rgb(155, 233, 243);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    border-radius: 20;

}


div.boton :active {
    background-color: #b8e6f1;
    color: #b8e6f1;
}

section h4 {
    font-size: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

div h4 {
    background-image: linear-gradient(rgb(75, 176, 201), rgb(198, 238, 238));

}

/*CODIGO DE INSTITUCIONAL*/

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.guardavidas {
    text-align: left;
    display: grid
}

section div.guardavidas h1 {
    display: flex;
    justify-content: right;
    align-items: center;
}

section.guardavidas span p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
}


section.guardavidas button {
    background-color: rgb(240, 91, 91);
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
}

img {
    display: grid;
    justify-items: end;
    align-items: center;
}

img .img-agua {
    justify-self: end;
}

section.bomberos {
    text-align: center;
    display: grid;
}

section div.bomberos h2 {
    display: flex;
    justify-content: right;
    align-items: center;

}

section div.imagen.bomberos {
    float: right;
}

/*CODIGO DE COMUNIDAD*/

header {
    display: flex;
    padding: 1 rem;
    justify-content: space-around;
    align-items: center;
}


.contendor-comunidad {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 25%);
    gap: 2rem;
    margin: 3rem 2rem;
    height: 70vh;

    /* estilos por area */



}

.contendor-comunidad .com-dos,
.com-cinco {
    display: none
}

.contendor-comunidad div img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}



.section div.videohistorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
    margin: 1rem 1rem;
    height: 30vh max-width: 25%
    
}

. section.img-bomberos-en-fuego {
    display: grid;
    justify-items: center;
    grid-column: span 1;
    gap: 20px;
}

/* media queris tablet */
@media screen (min-width: 600px) {

    .contendor-comunidad {
        grid-template-columns: repeat (2 1fr);
        grid-template-rows: repeat (2, 50%);
    }

    .contendor-comunidad .com-cuatro {
        grid-column: span 2;
    }

}

/* media queris desktop */
@media screen (min-width: 1023px) {
    .contendor-comunidad.com-dos;

    com-cinco {
        display: block;
    }

    .contendor-comunidad {
        grid-template-columns: repeat(3; fr);
        grid-template-rows: 40% 40% 15%;
    }

    .contendor-comunidad.com-uno,
    .contendor-comunidad.com-tres {
        grid-row: span 2;
    }

    .contendor-comunidad.com-dos,
    .contendor-comunidad.com-cuatro {
        grid-column: span 1;
    }

    .contendor-comunidad.com-cinco {
        grid-column: span 3;
    }
}

/*CODIGO DE NOSOTROS*/

.bannernosotros {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.section div.grupo {
    display: grid;
    grid-template-columns: repeat(1 1fr);
    gap: 2rem;
    margin: 3rem 2rem;
    height: 70vh
}
.contenedorstaff{
    display: flex;
}
.grupo img {
    max-width: 25%;

}

.grupo p {
    margin: 10px 0;
}


.footer {
    padding: 20px 0;
    justify-content: center;
    margin: 20px;
    text-align: center;
}

Section div h1 footer {
    padding: 30px;
    text-align: center;
    gap: 30px;
}


footer {
    display: grid;
    justify-content: center;
    align-items: center;
}

/*CONTACTO*/



/*RESPONSIVE */