//variables

//colores principales

$color-principal: url(https: //img.freepik.com/fotos-premium/vista-fondo-textura-agua-mar-hermosa-natural-arriba-hd_964851-70923.jpg?w=996);
$color-secundario: rgb(155, 233, 243);
$color-animacion:linear-gradient(rgb(75, 176, 201), rgb(198, 238, 238));


//medidas principales
$width-principal:300px